.card {
  background-color: aqua;
  max-width: 300px;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-family: inherit;
}
.card img {
  display: block;
  width: 200px;
  height: 200px;
}
.card:hover {
  transform: translate(10px, 10px);
  box-shadow: 0.5rem 0.5rem 1rem 1rem black;
}

.card h2 {
  margin: 10px 0 0 0;
}
