.search input[type="search"] {
  padding: 0.5rem;
  background-color: aqua;
  outline: none;
  border-radius: 5px;
}

.search input[type="search"]:focus {
  background-color: blanchedalmond;
  border: 2px solid aqua;
  font-size: 1.5rem;
}
